.page-header {
  background-color: #0b661e;
  margin-top: 0;
  font-family: 'Courier New', monospace;
  padding: 2px 2px 2px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
  color: #ffffff;
  font-size: 28pt;
  text-decoration: none;
  font-family: 'Courier New', monospace;
}

.content {
  margin-left: 40px;
  font-family: 'Courier New', monospace;
}

h1, h2, h3, h4, h5, p {
  font-family: 'Courier New', monospace;
}

.post-form textarea, .post-form input {
  width: 100%;
}

.post_desc_head, {
  margin-left: 15px;
}

.post_description, .post_contact {
  margin-left: 30px;
}