
{% extends 'base.html' %}

{% block content %}
<div>
  <h2>{{ category.category_name }}</h2>
  <br>
  <a href="{% url 'edit_category' category_id=category.id %}"> Edit category</a>
  <br>
  <br>
  <form name="delete_category" method="POST" action="{% url 'delete_category' category_id=category.id %}">
    {% csrf_token %}
    <input type="submit" value="Delete category" />
  </form>
</div>
<hr/>
<div>
<ul>
  {% for post in posts %}
    <div>
      <li><a href="{% url 'post_detail' category_id=category.id post_id=post.id %}">{{ post.first_name }}</a></li>
    </div>
  {% endfor %}
</ul>

<a href="{% url 'new_post' category_id=category.id %}">Add a new post</a>
</div>
{% endblock %}
