{% extends 'categories/base.html' %}

{% block content %}

<div>
  <div class="grid-container">
    <div class="grid-item">
      <h2>{{ category.category_name }}</h2>
    </div>
  </div>
  <div>
    <a class="btn btn-default" href="{% url 'new_post' category_id=category.id %}"><span class="glyphicon glyphicon-plus"></span></a>
    <a class="btn btn-default" href="{% url 'edit_category' category_id=category.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn btn-default" href="{% url 'delete_category' category_id=category.id %}"><span class="glyphicon glyphicon-trash"></span></a>
  </div>
</div>

{% endblock %}
